<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/utlities.css">
        <link rel="stylesheet" href="/static/css/about-me.css">
        <link rel="stylesheet" href="/static/css/contact.css">
    </head>  


<body>
    <header>
        <div class='head-section layout'>
            <div class="nav-bar flex space-between align-center f-w-600">
                <div class='logo f-w-700n latter-spacing'><span>Sunail's</span> portfolio</div>

            <div class=nav-links>
                <ul class="flex f-w-600">
                    <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
                    <li class="{% if request.path == '/about-me/' %}active{% endif %}"><a href="{% url 'about-me' %}">About me</a></li>
                    <li class="{% if request.path == '/projects/' %}active{% endif %}"><a href="{% url 'projects' %}">Projects</a></li>
                    <li class="{% if request.path == '/contact/' %}active{% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                
                

            </div>
        
        </div>
            
            </div>

            </div>

        </div>

    </header>
    <main>
        <div class="contact-contaianer">
            <h2>Get in touch with Sunail!</h2>
            <p>You can reach out to me by filling the below given form<p/>
                <form class="content-form">
                    <label for="fname">First Name:</label><br>
                    <input type="text" id="fname" name="firstname" placeholder="Enter  firt name...."><br> 
                    <label for="lname">Last Name:</label><br>
                    <input type="text" id="lname" name="lastname" placeholder="Enter last name..."><br>
                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email" placeholder="ENTER Email..."><br>
                    <label for="phone">Phone Number:</label><br>    
                    <input type="tel" id="phone" name="phonenumber" placeholder="Enter phone..."><br>
                    <label for="message">Message:</label><br>
                    <textarea id="message" name="message" placeholder="Enter small message..."></textarea><br>
                    <button type="submit">Submit</button>
                    <input type=text value="{{date}}"/>
            

                </form>
        
        </div>


    </main>


</body>

<html>


