<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/utlities.css">
    </head>  


<body>
    <header>
        <div class='head-section layout'>
            <div class="nav-bar flex space-between align-center f-w-600">
                <div class='logo f-w-700n latter-spacing'><span>Sunail's</span> portfolio</div>

            <div class=nav-links>
                <ul class="flex f-w-600">
                    <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
                    <li class="{% if request.path == '/about-me/' %}active{% endif %}"><a href="{% url 'about-me' %}">About me</a></li>
                    <li class="{% if request.path == '/projects/' %}active{% endif %}"><a href="{% url 'projects' %}">Projects</a></li>
                    <li class="{% if request.path == '/contact/' %}active{% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                
                

            </div>
            <button class="btn"><a href="/contact.html"></a> Hire Me </button>
        </div>
       

        </div>

    </header>


</body>

<html>


